.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #ffffff;
  align-items: flex-start;
  font-size: 35px;
  color: rgb(83, 83, 83);
  margin-left: 220px;
  margin-top: 60px;
  font-family: monospace;
  font-weight: bold;
}

.cont-info {
  align-items: flex-start;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-left: 220px;
  margin-top: 50px;
  font-family: monospace;
}
